src/message/index.jade
extends ../templates/layout.jade
block title
  - var page_title = 'メッセージ'
  - var page_dirname = 'message'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#message.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/message/h2ttl.gif" width="147" height="84" alt="#{page_title}">
      .inner
        figure.img
          <img src="../assets/img/message/img01.jpg" width="680" height="275" alt="常務取締役　山口勝宏">
        section.section-in
          h3.h3ttl 
            <img src="../assets/img/message/h3ttl.gif" width="635" height="25" alt="「新しいあたりまえ」を創出し続ける社会価値創出企業">
          .txt-area
            p ＦＩＳソリューションズは「次世代経営コンサルタント」としてお客様と共に未来を切り拓くエンジンとなり、企業の成長を加速させます。
            p ＦＩＳソリューションズは、人の話を聞き、人から学び、人に対して責任と情熱を持って仕事をするプロフェッショナルです。
            p 私達がメインとしてきた情報通信分野は、成長を続ける非常に魅力ある分野です。
            p 流行トレンドのサイクルの早期化、技術革新の急速な進歩により、既存技術の短命化が進んでいる昨今、一年後が予測できないほどに目まぐるしく変化しています。
            p 昨日なかった技術やサービスが３ヶ月後には「あたりまえ」として定着しています。
            p フォーバルグループは、電話機自由化、県外・市外料金値下げ、国際料金値下げ、回線基本料自由化への挑戦など数多くの実績を積み上げてまいりました。
            p 昨日まで名前もなかったサービスの一つから、「あたりまえ」なインフラの一つへ。
            p フォーバルグループの一員として、常に「新しいあたりまえ」を、これからは情報通信の枠を超えて、創造し続けていきます。
          <!-- /.txt-area -->
        <!-- /.section-in -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../company#section03/?mode=pc") PC

block script

html/message/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>メッセージ | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="メッセージ - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="メッセージ,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="メッセージ | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="メッセージ - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/message">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="message" class="low">
      <section id="section" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/message/h2ttl.gif" width="147" height="84" alt="メッセージ"></span></h2>
        <div class="inner">
          <figure class="img"><img src="../assets/img/message/img01.jpg" width="680" height="275" alt="常務取締役　山口勝宏"></figure>
          <section class="section-in">
            <h3 class="h3ttl">
               
              <img src="../assets/img/message/h3ttl.gif" width="635" height="25" alt="「新しいあたりまえ」を創出し続ける社会価値創出企業">
            </h3>
            <div class="txt-area">
              <p>ＦＩＳソリューションズは「次世代経営コンサルタント」としてお客様と共に未来を切り拓くエンジンとなり、企業の成長を加速させます。</p>
              <p>ＦＩＳソリューションズは、人の話を聞き、人から学び、人に対して責任と情熱を持って仕事をするプロフェッショナルです。</p>
              <p>私達がメインとしてきた情報通信分野は、成長を続ける非常に魅力ある分野です。</p>
              <p>流行トレンドのサイクルの早期化、技術革新の急速な進歩により、既存技術の短命化が進んでいる昨今、一年後が予測できないほどに目まぐるしく変化しています。</p>
              <p>昨日なかった技術やサービスが３ヶ月後には「あたりまえ」として定着しています。</p>
              <p>フォーバルグループは、電話機自由化、県外・市外料金値下げ、国際料金値下げ、回線基本料自由化への挑戦など数多くの実績を積み上げてまいりました。</p>
              <p>昨日まで名前もなかったサービスの一つから、「あたりまえ」なインフラの一つへ。</p>
              <p>フォーバルグループの一員として、常に「新しいあたりまえ」を、これからは情報通信の枠を超えて、創造し続けていきます。</p>
            </div><!-- /.txt-area -->
          </section><!-- /.section-in -->
        </div><!-- /.inner -->
      </section><!-- /#section -->
    </main><!-- /#message -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../company#section03/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

  </body>
</html>
