html/concept/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>企業コンセプト | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="企業コンセプト - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="企業コンセプト,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="企業コンセプト | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="企業コンセプト - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/concept">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="concept" class="low">
      <section id="section" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/concept/h2ttl.gif" width="205" height="84" alt="企業コンセプト"></span></h2>
        <section id="section-in01" class="section-in">
          <div class="inner">
            <h3 class="h3ttl"><img src="../assets/img/concept/h3ttl01.gif" width="506" height="29" alt="お客様とともに、企業としての在り方を"></h3>
            <div class="txt-area">
              <p>私たちＦＩＳソリューションズは、「新しいあたりまえ」を創出し続ける社会勝ち創出企業フォーバルのグループ会社です。</p>
              <p>中小・中堅企業の利益に貢献する「次世代経営コンサルタント」として、お客さまと共に未来を切り拓くエンジンとなり、成長を加速させます。</p>
              <p>メイン事業である通信コンサルティングの領域はもちろんのこと、企業経営そのものについて、あるべき企業の姿「在り方」を、お客様とともに追求し、ともに成長していきたいと考えております。</p>
            </div><!-- /.txt-area -->
          </div><!-- /.inner -->
        </section><!-- /#section-in01 -->
        <section id="section-in02" class="section-in">
          <div class="inner">
            <figure class="img"><img src="../assets/img/concept/img01.png" width="600" height="333" alt="internet of things"></figure>
            <h3 class="h3ttl"><img src="../assets/img/concept/h3ttl02.gif" width="668" height="61" alt="ありとあらゆるものがインターネットに接続する社会。"></h3>
            <div class="txt-area">
              <p>既に医療・ヘルスケア・農業の分野ではＩＯＴ化が進んでいます。</p>
              <p>ＩＯＴにはセンサーで取得したデータをクラウドにアップロードし、人工知能が学習した内容に従って判断し、モノがヒトにフィードバックするという流れがあります。例えば「スマートロック」ではスマートフォンのアプリを起動して、ボタンを押すと自宅のカギが開きます。鍵の複製にはダウンロードして自宅のカギを開ける権限をアプリの持ち主に渡す。小さなお子様が自宅に入れない場合等、遠隔操作で家のカギを開けることが可能です。</p>
              <p>またスマートロックは不動産業の物件を「内見」するために用いられたり、介護ビジネスでも夜間など、外を徘徊できないようにロックしたり、外出状況を把握する等、導入が進んでいます。</p>
              <p>ＦＩＳでは、これからは何が社会に必要とされるのかをキャッチアップし、価値あるサービスをご提供します。</p>
            </div><!-- /.txt-area -->
          </div><!-- /.inner -->
        </section><!-- /#section-in02 -->
        <section id="section-in03" class="section-in">
          <div class="inner">
            <figure class="img"><img src="../assets/img/concept/img02.png" width="376" height="378" alt="「顧客主義」から「個客主義」への転換イメージ画像"></figure>
            <h3 class="h3ttl"><img src="../assets/img/concept/h3ttl03.gif" width="641" height="56" alt="「顧客主義」から「個客主義」への転換"></h3>
            <div class="txt-area">
              <p>ビジネスをリードするには、膨大な量の情報を入手し、それが有益かどうか解析することがとても重要です。</p>
              <p>その一つひとつの情報の多くは、元をたどると人の感情から発信されています。情報は無機的にただそこにあるのではなく、有機的に人の気持ちから生まれてくるものだとしたら、有益な情報を手に入れる近道はお客様一人ひとりを理解することにあるのかもしれません。</p>
              <p>今日、多くの企業が、「顧客主義」から「個客主義」へと基本戦略を転換しています。</p>
              <p>従来のマーケティングは、お客様を塊（セグメント）として捉えていました。しかし、デジタルテクノロジーの進化により、これまで不可能といわれていた「マーケット・オブ・ワン（市場の中のたったひとり）」や「セグメント・オブ・ワン（塊の中のたった一人）」という「個」への対応というマーケティングが可能になったのです。</p>
              <p>無尽蔵に肥大を続けるデータの中から、「たった一人にたどり着き」「たった一人を個客に変える」ことで、顧客主義から個客主義への転換を支援する。それこそ、これからのコンサルティングが担うべき役割だと考えております。</p>
            </div><!-- /.txt-area -->
          </div><!-- /.inner -->
        </section><!-- /#section-in03 -->
        <section id="section-in04" class="section-in">
          <div class="inner">
            <figure class="img"><img src="../assets/img/concept/img03.png" width="659" height="179" alt="新たなイノベーションと熱いモチベーション イメージ画像"></figure>
            <h3 class="h3ttl"><img src="../assets/img/concept/h3ttl04.gif" width="675" height="56" alt="新たなイノベーションと熱いモチベーション"></h3>
            <div class="txt-area">
              <p>ビジネスの主流は、これまでのBtoC、BtoBといった区分けを超え、「BtoI=Business to Individual」という発想にシフトしようとしています。</p>
              <p>こうした流れに乗り遅れないためには、独自の仮説で戦略を構築し、新しい情報通信技術でお客様の利益を生み出すことが必要です。そして、本当に重要なことは、「膨大なデータを分析すること」ではなく、お客様と真摯に向き合い「個客」の声を多くの声と結びつける、「オンリーワンのソリューションを提供すること」だと考えています。</p>
              <p>無限の情報から、唯一の答えを。</p>
              <p>新たなイノベーションと熱いモチベーションでお客様の課題に応えていくことが、次世代経営コンサルティングのフォーバルならではのミッションです。</p>
            </div><!-- /.txt-area -->
          </div><!-- /.inner -->
        </section><!-- /#section-in04 -->
      </section><!-- /#section -->
    </main><!-- /#企業コンセプト -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../concept/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

    <!-- アコーディオン -->
    <script>
      $(function(){
        $(".accordion .unit h3").click(function(){
          $(this).next(".unit-in").slideToggle();
          $(this).children("span").toggleClass("open");
        });
      });
    </script>
  </body>
</html>

src/concept/index.jade
extends ../templates/layout.jade
block title
  - var page_title = '企業コンセプト'
  - var page_dirname = 'concept'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#concept.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/concept/h2ttl.gif" width="205" height="84" alt="#{page_title}">
      section#section-in01.section-in
        .inner
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl01.gif" width="506" height="29" alt="お客様とともに、企業としての在り方を">
          .txt-area
            p 私たちＦＩＳソリューションズは、「新しいあたりまえ」を創出し続ける社会勝ち創出企業フォーバルのグループ会社です。
            p 中小・中堅企業の利益に貢献する「次世代経営コンサルタント」として、お客さまと共に未来を切り拓くエンジンとなり、成長を加速させます。
            p メイン事業である通信コンサルティングの領域はもちろんのこと、企業経営そのものについて、あるべき企業の姿「在り方」を、お客様とともに追求し、ともに成長していきたいと考えております。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in01 -->

      section#section-in02.section-in
        .inner
          figure.img
            <img src="../assets/img/concept/img01.png" width="600" height="333" alt="internet of things">
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl02.gif" width="668" height="61" alt="ありとあらゆるものがインターネットに接続する社会。">
          .txt-area
            p 既に医療・ヘルスケア・農業の分野ではＩＯＴ化が進んでいます。
            p ＩＯＴにはセンサーで取得したデータをクラウドにアップロードし、人工知能が学習した内容に従って判断し、モノがヒトにフィードバックするという流れがあります。例えば「スマートロック」ではスマートフォンのアプリを起動して、ボタンを押すと自宅のカギが開きます。鍵の複製にはダウンロードして自宅のカギを開ける権限をアプリの持ち主に渡す。小さなお子様が自宅に入れない場合等、遠隔操作で家のカギを開けることが可能です。
            p またスマートロックは不動産業の物件を「内見」するために用いられたり、介護ビジネスでも夜間など、外を徘徊できないようにロックしたり、外出状況を把握する等、導入が進んでいます。
            p ＦＩＳでは、これからは何が社会に必要とされるのかをキャッチアップし、価値あるサービスをご提供します。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in02 -->

      section#section-in03.section-in
        .inner
          figure.img
            <img src="../assets/img/concept/img02.png" width="376" height="378" alt="「顧客主義」から「個客主義」への転換イメージ画像">
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl03.gif" width="641" height="56" alt="「顧客主義」から「個客主義」への転換">
          .txt-area
            p ビジネスをリードするには、膨大な量の情報を入手し、それが有益かどうか解析することがとても重要です。
            p その一つひとつの情報の多くは、元をたどると人の感情から発信されています。情報は無機的にただそこにあるのではなく、有機的に人の気持ちから生まれてくるものだとしたら、有益な情報を手に入れる近道はお客様一人ひとりを理解することにあるのかもしれません。
            p 今日、多くの企業が、「顧客主義」から「個客主義」へと基本戦略を転換しています。
            p 従来のマーケティングは、お客様を塊（セグメント）として捉えていました。しかし、デジタルテクノロジーの進化により、これまで不可能といわれていた「マーケット・オブ・ワン（市場の中のたったひとり）」や「セグメント・オブ・ワン（塊の中のたった一人）」という「個」への対応というマーケティングが可能になったのです。
            p 無尽蔵に肥大を続けるデータの中から、「たった一人にたどり着き」「たった一人を個客に変える」ことで、顧客主義から個客主義への転換を支援する。それこそ、これからのコンサルティングが担うべき役割だと考えております。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in03 -->

      section#section-in04.section-in
        .inner
          figure.img
            <img src="../assets/img/concept/img03.png" width="659" height="179" alt="新たなイノベーションと熱いモチベーション イメージ画像">
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl04.gif" width="675" height="56" alt="新たなイノベーションと熱いモチベーション">
          .txt-area
            p ビジネスの主流は、これまでのBtoC、BtoBといった区分けを超え、「BtoI=Business to Individual」という発想にシフトしようとしています。
            p こうした流れに乗り遅れないためには、独自の仮説で戦略を構築し、新しい情報通信技術でお客様の利益を生み出すことが必要です。そして、本当に重要なことは、「膨大なデータを分析すること」ではなく、お客様と真摯に向き合い「個客」の声を多くの声と結びつける、「オンリーワンのソリューションを提供すること」だと考えています。
            p 無限の情報から、唯一の答えを。
            p 新たなイノベーションと熱いモチベーションでお客様の課題に応えていくことが、次世代経営コンサルティングのフォーバルならではのミッションです。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in04 -->
    <!-- /#section -->
  <!-- /#!{page_title} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });
