src/icon/index.jade
extends ../templates/layout.jade
block title
  - var page_title = 'アイコンサービス'
  - var page_dirname = 'icon'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#icon.low
    section#section01.section
      h2.h2ttl
        span
          <img src="../assets/img/icon/h2ttl.gif" width="235" height="85" alt="#{page_title}">
      .inner
        figure.img
          <img src="../assets/img/icon/img01.gif" width="580" height="194" alt="アイコンは、IT環境と企業経営をバックアップする「経営支援サービス」です">
        .txt-area
          p ＦＩＳソリューションズが、今、最も力を注いでいる「新しいあたりまえ」が「アイコン」です。「アイコン」とは定期訪問を通じて、経営にまつわる様々なお悩みを解決しようというもの。ＦＩＳソリューションズだけでなくグループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。売り上げ拡大や新規事業、人材の確保、社内規定作成、業務運用の改善など経営に関するお悩みに応えます。
          p 経営において「情報」「時間」の重要性がますます高くなる現在ですが、社内に情報通信システム（ＩＴ）の専門部署／担当者を置いている企業は少ないのが実態ではないでしょうか？　ＦＩＳソリューションズのアイコンでは、資格と実力を兼ね備えた情報通信コンサルタントが、お客様の情報システム部門のかわりに、ＩＴ利活用を提案し、またあらゆる「困った」を解決します。
          p そこのこにより、お客様に本業に専念していただくことにより、お客様の利益に貢献することを目指したサービスです。
          p ＩＴにかかわる「困った」に限らず、売り上げ拡大や新規事業、人材の確保、社内規定作成、業務運用の改善などの経営に関するお悩みに対しても、グループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。従来の保守メンテナンスサービスにとどまらない企業経営支援サービス、それが「アイコン」です。
        <!-- /.txt-area -->

        ul.accordion
          li.unit
            section
              h3#h3ttl01.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl01.gif" width="495" height="30" alt="">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img02.jpg" width="680" height="169" alt="写真：情報通信コンサルティングサービス">
                .txt-area02
                  p ヒト・モノ・カネ・情報・時間などの経営資源。ヒト・モノ・カネでは大企業が圧倒的に有利といえます。中小・中堅企業の命運を左右しているのが「情報」。経営にいかに「情報」を役立てるかが重要になってきています。日々進化する情報端末やIP統合商品。実際に私たちが利活用し、効果がでた手法をお客様にフィードバック。
                  p 情報通信を活用した「経営の高度化」をご提案いたします。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl02.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl02.gif" width="526" height="30" alt="訪問サポートコンサルティングサービス">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img03.jpg" width="680" height="169" alt="写真：訪問サポートコンサルティングサービス">
                .txt-area02
                  p IT関連資格をもった経験豊富なコンサルタントが、定期的にお客様を訪問し、IT環境のチェックおよび改善を提案いたします。
                  p お客様の「困った」を解消するとともに、お客様の「もっと便利に」にお答えします。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl03.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl03.gif" width="522" height="29" alt="カスタマーコミュニケーションセンター">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img04.jpg" width="680" height="169" alt="写真：カスタマーコミュニケーションセンター">
                .txt-area02
                  p 鹿児島と佐賀の二つのセンターで、お客様の「困った」その時にお役にたてるよう、７０名以上の正社員スタッフが、お客様からのお電話をお待ちしております。
                  p 例えば「エクセルが思ったとおりに印刷されない！」そんな、お問い合わせもＯＫです。どんな小さなお困りでも、お気軽にご相談ください。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl04.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl04.gif" width="213" height="28" alt="アイコンカルテ">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img05.jpg" width="680" height="169" alt="写真：アイコンカルテ">
                .txt-area02
                  p オフィスカルテは、LAN内をスキャンすることにより、機器の利用状況など必要な情報を収集して更新します。
                  p 収集した最新のデータに基づき、オフィスのカルテを作成し、訪問コンサルティングサービス、カスタマーコミュニケーションセンターでの活用を通じてお客様のIT環境を改善いたします。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl05.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl05.gif" width="336" height="30" alt="専用サイト沿革サポート">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img06.jpg" width="680" height="169" alt="写真：専用サイト沿革サポート">
                .txt-area02
                  p お客様とＦＩＳソリューションズをつなぐコミニュケーションポータルサイトです。
                  p コミニュケーションセンターのスタッフが、お客様の問題を解決する際に遠隔サポートでする際にも利用します。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl06.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl06.gif" width="371" height="30" alt="経営支援コンサルティング">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img07.jpg" width="680" height="169" alt="写真：経営支援コンサルティング">
                .txt-area02
                  p 経営に関する「困った」をヒアリングさせていただき、当社だけでなく、グループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。
                  p お客様のビジネスを知り尽くしたコンサルタントが仲介し、お客様を本気で応援します！
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
      <!-- /.inner -->
    <!-- /#section01 -->
  <!-- /#icon -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });

html/icon/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>アイコンサービス | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="アイコンサービス - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="アイコンサービス,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="アイコンサービス | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="アイコンサービス - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/icon">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="icon" class="low">
      <section id="section01" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/icon/h2ttl.gif" width="235" height="85" alt="アイコンサービス"></span></h2>
        <div class="inner">
          <figure class="img"><img src="../assets/img/icon/img01.gif" width="580" height="194" alt="アイコンは、IT環境と企業経営をバックアップする「経営支援サービス」です"></figure>
          <div class="txt-area">
            <p>ＦＩＳソリューションズが、今、最も力を注いでいる「新しいあたりまえ」が「アイコン」です。「アイコン」とは定期訪問を通じて、経営にまつわる様々なお悩みを解決しようというもの。ＦＩＳソリューションズだけでなくグループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。売り上げ拡大や新規事業、人材の確保、社内規定作成、業務運用の改善など経営に関するお悩みに応えます。</p>
            <p>経営において「情報」「時間」の重要性がますます高くなる現在ですが、社内に情報通信システム（ＩＴ）の専門部署／担当者を置いている企業は少ないのが実態ではないでしょうか？　ＦＩＳソリューションズのアイコンでは、資格と実力を兼ね備えた情報通信コンサルタントが、お客様の情報システム部門のかわりに、ＩＴ利活用を提案し、またあらゆる「困った」を解決します。</p>
            <p>そこのこにより、お客様に本業に専念していただくことにより、お客様の利益に貢献することを目指したサービスです。</p>
            <p>ＩＴにかかわる「困った」に限らず、売り上げ拡大や新規事業、人材の確保、社内規定作成、業務運用の改善などの経営に関するお悩みに対しても、グループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。従来の保守メンテナンスサービスにとどまらない企業経営支援サービス、それが「アイコン」です。</p>
          </div><!-- /.txt-area -->
          <ul class="accordion">
            <li class="unit">
              <section>
                <h3 id="h3ttl01" class="h3ttl"><span><img src="../assets/img/icon/h3ttl01.gif" width="495" height="30" alt=""></span></h3>
                <div class="unit-in">
                  <figure class="img02"><img src="../assets/img/icon/img02.jpg" width="680" height="169" alt="写真：情報通信コンサルティングサービス"></figure>
                  <div class="txt-area02">
                    <p>ヒト・モノ・カネ・情報・時間などの経営資源。ヒト・モノ・カネでは大企業が圧倒的に有利といえます。中小・中堅企業の命運を左右しているのが「情報」。経営にいかに「情報」を役立てるかが重要になってきています。日々進化する情報端末やIP統合商品。実際に私たちが利活用し、効果がでた手法をお客様にフィードバック。</p>
                    <p>情報通信を活用した「経営の高度化」をご提案いたします。</p>
                  </div><!-- /.txt-area02 -->
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl02" class="h3ttl"><span><img src="../assets/img/icon/h3ttl02.gif" width="526" height="30" alt="訪問サポートコンサルティングサービス"></span></h3>
                <div class="unit-in">
                  <figure class="img02"><img src="../assets/img/icon/img03.jpg" width="680" height="169" alt="写真：訪問サポートコンサルティングサービス"></figure>
                  <div class="txt-area02">
                    <p>IT関連資格をもった経験豊富なコンサルタントが、定期的にお客様を訪問し、IT環境のチェックおよび改善を提案いたします。</p>
                    <p>お客様の「困った」を解消するとともに、お客様の「もっと便利に」にお答えします。</p>
                  </div><!-- /.txt-area02 -->
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl03" class="h3ttl"><span><img src="../assets/img/icon/h3ttl03.gif" width="522" height="29" alt="カスタマーコミュニケーションセンター"></span></h3>
                <div class="unit-in">
                  <figure class="img02"><img src="../assets/img/icon/img04.jpg" width="680" height="169" alt="写真：カスタマーコミュニケーションセンター"></figure>
                  <div class="txt-area02">
                    <p>鹿児島と佐賀の二つのセンターで、お客様の「困った」その時にお役にたてるよう、７０名以上の正社員スタッフが、お客様からのお電話をお待ちしております。</p>
                    <p>例えば「エクセルが思ったとおりに印刷されない！」そんな、お問い合わせもＯＫです。どんな小さなお困りでも、お気軽にご相談ください。</p>
                  </div><!-- /.txt-area02 -->
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl04" class="h3ttl"><span><img src="../assets/img/icon/h3ttl04.gif" width="213" height="28" alt="アイコンカルテ"></span></h3>
                <div class="unit-in">
                  <figure class="img02"><img src="../assets/img/icon/img05.jpg" width="680" height="169" alt="写真：アイコンカルテ"></figure>
                  <div class="txt-area02">
                    <p>オフィスカルテは、LAN内をスキャンすることにより、機器の利用状況など必要な情報を収集して更新します。</p>
                    <p>収集した最新のデータに基づき、オフィスのカルテを作成し、訪問コンサルティングサービス、カスタマーコミュニケーションセンターでの活用を通じてお客様のIT環境を改善いたします。</p>
                  </div><!-- /.txt-area02 -->
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl05" class="h3ttl"><span><img src="../assets/img/icon/h3ttl05.gif" width="336" height="30" alt="専用サイト沿革サポート"></span></h3>
                <div class="unit-in">
                  <figure class="img02"><img src="../assets/img/icon/img06.jpg" width="680" height="169" alt="写真：専用サイト沿革サポート"></figure>
                  <div class="txt-area02">
                    <p>お客様とＦＩＳソリューションズをつなぐコミニュケーションポータルサイトです。</p>
                    <p>コミニュケーションセンターのスタッフが、お客様の問題を解決する際に遠隔サポートでする際にも利用します。</p>
                  </div><!-- /.txt-area02 -->
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl06" class="h3ttl"><span><img src="../assets/img/icon/h3ttl06.gif" width="371" height="30" alt="経営支援コンサルティング"></span></h3>
                <div class="unit-in">
                  <figure class="img02"><img src="../assets/img/icon/img07.jpg" width="680" height="169" alt="写真：経営支援コンサルティング"></figure>
                  <div class="txt-area02">
                    <p>経営に関する「困った」をヒアリングさせていただき、当社だけでなく、グループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。</p>
                    <p>お客様のビジネスを知り尽くしたコンサルタントが仲介し、お客様を本気で応援します！</p>
                  </div><!-- /.txt-area02 -->
                </div><!-- /.unit-in -->
              </section>
            </li>
          </ul>
        </div><!-- /.inner -->
      </section><!-- /#section01 -->
    </main><!-- /#icon -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../icon/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

    <!-- アコーディオン -->
    <script>
      $(function(){
        $(".accordion .unit h3").click(function(){
          $(this).next(".unit-in").slideToggle();
          $(this).children("span").toggleClass("open");
        });
      });
    </script>
  </body>
</html>
