html/company/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>企業情報 | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="企業情報 - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="企業情報,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="企業情報 | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="企業情報 - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/company">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="company" class="low">
      <section id="section" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/company/h2ttl.gif" width="120" height="85" alt="企業情報"></span></h2>
        <div class="inner">
          <section id="section-in01" class="section-in">
            <h3 class="h3ttl"><img src="../assets/img/company/h3ttl01.gif" width="123" height="28" alt="会社概要"></h3>
            <table>
              <tr>
                <th>社名</th>
                <td>株式会社FISソリューションズ</td>
              </tr>
              <tr>
                <th>本社所在地</th>
                <td>〒101-0054<br>東京都千代田区神田錦町3-26 一ツ橋SIビル受付2F 営業部9F</td>
              </tr>
              <tr>
                <th>TEL</th>
                <td>03-5283-0080</td>
              </tr>
              <tr>
                <th>FAX</th>
                <td>03-5283-0042</td>
              </tr>
              <tr>
                <th>代表者</th>
                <td>谷井　剛（代表取締役社長）</td>
              </tr>
              <tr>
                <th>株主</th>
                <td>株式会社フォーバルテレコム（100％保有）「東証二部　上場、証券コード：9445」</td>
              </tr>
              <tr>
                <th>在籍社員</th>
                <td>防犯設備士取得者　1名<br>個人情報保護士取得者　25名<br>初級システムアドミニストレータ―取得者　1名<br>ITパスポート取得者　2名<br>オフィスコーディネーター取得者　1名<br>WEBリテラシー取得者　39名<br>ドットコムマスター取得者　[シングル]32名　[ダブル]1名<br>スマートマスター取得者　[シングル]25名<br>MCA　1名<br>MCP　1名<br>MOS　[スペシャリスト]1名　[エキスパート]1名<br>ビジネス会計検定取得者　[3級]7名<br>ビジネス実務法務検定取得者　[3級]1名<br>マイナンバー検定取得者　[3級]37名<br>マイナンバー検定取得者　[2級]4名<br>マーケティングビジネス実務検定取得者　[C級]1名<br>工事担任者[DD第一種]　1名<br>＜2016年1月現在＞</td>
              </tr>
              <tr>
                <th>業務内容</th>
                <td>情報通信コンサルティング</td>
              </tr>
              <tr>
                <th>経営支援</th>
                <td>コンサルティング業　ビリング事業</td>
              </tr>
              <tr>
                <th>主要取引銀行</th>
                <td>三菱東京UFJ銀行　神田支店</td>
              </tr>
              <tr>
                <th>届出電気通信事業者</th>
                <td>届出番号　A-26-13962</td>
              </tr>
            </table>
          </section><!-- /#section-in01 -->

          <section id="section-in02" class="section-in">
            <h3 id="h3ttl02" class="h3ttl"><img src="../assets/img/company/h3ttl02.gif" width="122" height="28" alt="会社沿革"></h3>
            <table>
              <tr>
                <th>2007年1月</th>
                <td>ポパイコンサルティングサービス株式会社通信事業部として設立</td>
              </tr>
              <tr>
                <th>2007年10月</th>
                <td>事業譲渡によりフォーバルテレコムグループ株式会社ＦＩＳソリューションズ通信コンサルティング事業部となる</td>
              </tr>
              <tr>
                <th>2011年2月</th>
                <td>分社化を実施、新会社「株式会社FISソリューションズ」を設立。<br>※保険事業部を中心とする旧会社は社名を株式会社保険ステーション」に変更</td>
              </tr>
              <tr>
                <th>2011年9月</th>
                <td>事業譲渡によりアイティマーケット事業開始</td>
              </tr>
              <tr>
                <th>2013年4月</th>
                <td>IT環境と企業経営をバックアップする経営支援サービス「アイコン」開始</td>
              </tr>
            </table>
          </section><!-- /#section-in02 -->

          <section id="section-in03" class="section-in">
            <h3 id="h3ttl03" class="h3ttl"><img src="../assets/img/company/h3ttl03.gif" width="212" height="28" alt="アクセスマップ"></h3>
            <p class="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.3346318868016!2d139.75721176571514!3d35.693382080191384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c11c60e032d%3A0xf9af280da69bbf8d!2z44CSMTAxLTAwNTQg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw6Yym55S677yT5LiB55uu77yS77yWIOS4gOODhOapi--8s--8qeODk-ODqw!5e0!3m2!1sja!2sjp!4v1480057459322" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
            <div class="address">
              <p>〒101-0054</p>
              <p>東京都千代田区神田錦町3-26 一ツ橋SIビル受付2F営業部9F</p>
              <p>都営三田線 神保町駅下車 A9出口徒歩30秒</p>
            </div><!-- /.address -->
          </section><!-- /#section-in03 -->
        </div><!-- /.inner -->
      </section><!-- /#section -->
    </main><!-- /#company -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../company/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

  </body>
</html>

src/company/index.jade
extends ../templates/layout.jade
block title
  - var page_title = '企業情報'
  - var page_dirname = 'company'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#company.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/company/h2ttl.gif" width="120" height="85" alt="#{page_title}">
      .inner
        section#section-in01.section-in
          h3.h3ttl
            <img src="../assets/img/company/h3ttl01.gif" width="123" height="28" alt="会社概要">
          table
            tr
              th 社名
              td 株式会社FISソリューションズ
            tr
              th 本社所在地
              td 〒101-0054
                br
                |東京都千代田区神田錦町3-26 一ツ橋SIビル受付2F 営業部9F
            tr
              th TEL
              td 03-5283-0080
            tr
              th FAX
              td 03-5283-0042
            tr
              th 代表者
              td 谷井　剛（代表取締役社長）
            tr
              th 株主
              td 株式会社フォーバルテレコム（100％保有）「東証二部　上場、証券コード：9445」
            tr
              th 在籍社員
              td 防犯設備士取得者　1名
                br
                |個人情報保護士取得者　25名
                br
                |初級システムアドミニストレータ―取得者　1名
                br
                |ITパスポート取得者　2名
                br
                |オフィスコーディネーター取得者　1名
                br
                |WEBリテラシー取得者　39名
                br
                |ドットコムマスター取得者　[シングル]32名　[ダブル]1名
                br
                |スマートマスター取得者　[シングル]25名
                br
                |MCA　1名
                br
                |MCP　1名
                br
                |MOS　[スペシャリスト]1名　[エキスパート]1名
                br
                |ビジネス会計検定取得者　[3級]7名
                br
                |ビジネス実務法務検定取得者　[3級]1名
                br
                |マイナンバー検定取得者　[3級]37名
                br
                |マイナンバー検定取得者　[2級]4名
                br
                |マーケティングビジネス実務検定取得者　[C級]1名
                br
                |工事担任者[DD第一種]　1名
                br
                |＜2016年1月現在＞
            tr
              th 業務内容
              td 情報通信コンサルティング
            tr
              th 経営支援
              td コンサルティング業　ビリング事業
            tr
              th 主要取引銀行
              td 三菱東京UFJ銀行　神田支店
            tr
              th 届出電気通信事業者
              td 届出番号　A-26-13962
        <!-- /#section-in01 -->
        !='\n'

        section#section-in02.section-in
          h3#h3ttl02.h3ttl
            <img src="../assets/img/company/h3ttl02.gif" width="122" height="28" alt="会社沿革">
          table
            tr
              th 2007年1月
              td ポパイコンサルティングサービス株式会社通信事業部として設立
            tr
              th 2007年10月
              td 事業譲渡によりフォーバルテレコムグループ株式会社ＦＩＳソリューションズ通信コンサルティング事業部となる
            tr
              th 2011年2月
              td 分社化を実施、新会社「株式会社FISソリューションズ」を設立。
                br
                |※保険事業部を中心とする旧会社は社名を株式会社保険ステーション」に変更
            tr
              th 2011年9月
              td 事業譲渡によりアイティマーケット事業開始
            tr
              th 2013年4月
              td IT環境と企業経営をバックアップする経営支援サービス「アイコン」開始
        <!-- /#section-in02 -->
        !='\n'

        section#section-in03.section-in
          h3#h3ttl03.h3ttl
            <img src="../assets/img/company/h3ttl03.gif" width="212" height="28" alt="アクセスマップ">
          p.gmap
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.3346318868016!2d139.75721176571514!3d35.693382080191384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c11c60e032d%3A0xf9af280da69bbf8d!2z44CSMTAxLTAwNTQg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy656We55Sw6Yym55S677yT5LiB55uu77yS77yWIOS4gOODhOapi--8s--8qeODk-ODqw!5e0!3m2!1sja!2sjp!4v1480057459322" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          .address
            p 〒101-0054
            p 東京都千代田区神田錦町3-26 一ツ橋SIビル受付2F営業部9F
            p 都営三田線 神保町駅下車 A9出口徒歩30秒
          <!-- /.address -->
        <!-- /#section-in03 -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../company/?mode=pc") PC

block script
