src/group/index.jade
extends ../templates/layout.jade
block title
  - var page_title = 'グループ会社'
  - var page_dirname = 'group'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#group.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/group/h2ttl.gif" width="177" height="85" alt="#{page_title}">
      .inner
        ul.accordion
          li.unit
            section
              h3#h3ttl01.h3ttl
                span
                  <img src="../assets/img/group/h3ttl01.gif" width="225" height="25" alt="株式会社フォーバル">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 情報通信コンサルティング、経営コンサルティング
                  tr
                    th 所在地
                    td
                      |本社：〒150-0001
                      br
                      |東京都渋谷区神宮前5-52-2青山オーバルビル14階
                  tr
                    th 公式サイト
                    td 
                      a(href="http://www.forval.co.jp/") http://www.forval.co.jp/
                  tr
                    th コンセプト
                    td フォーバルは「新しいあたりまえ」を創造し、「次世代経営コンサルタント」として企業経営を支援いたします。情報通信を活用した経営の高度化、海外進出支援、企業のＷＥＢ戦略など、経営者の夢や思いをカタチにします。東証一部上場。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl02.h3ttl
                span
                  <img src="../assets/img/group/h3ttl02.gif" width="324" height="25" alt="株式会社フォーバルテレコム">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 通信サービスの提供、セキュリティ認証取得コンサルティング業
                  tr
                    th 所在地
                    td
                      |本社：〒101-0054
                      br
                      |東京都千代田区神田錦町三丁目26番地一ツ橋SIビル2F
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.forvaltel.co.jp/") http://www.forvaltel.co.jp/
                  tr
                    th コンセプト
                    td 「fitコール」「スマートひかり」「iSmart」「ツーウェイスマート」などのオリジナル通信サービスを提供。多岐にわたる通信サービスを一括してご請求する「ワンビリングサービス」を通じて、コスト削減や事業効率向上の面から企業経営を支援いたします。東証二部上場。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl03.h3ttl
                span
                  <img src="../assets/img/group/h3ttl03.gif" width="299" height="25" alt="株式会社保険ステーション">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 経営支援／コンサルティング業
                  tr
                    th 所在地
                    td
                      |〒101-0054
                      br
                      |東京都千代田区神田錦町3-26一ツ橋SIビル2F
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.hoken-station.co.jp/") http://www.hoken-station.co.jp/
                  tr
                    th コンセプト
                    td 生命保険・損害保険の最適化等経営支援コンサルティング・サービスを提供しています。30社を超える保険会社を取り扱う独立系の保険代理店として、どこの保険会社にも偏らずに最適なソリューションを提案しています。（2011年3月1日に「FISソリューションズ」から商号変更いたしました。）
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl04.h3ttl
                span
                  <img src="../assets/img/group/h3ttl04.gif" width="299" height="25" alt="株式会社トライ・エックス">
              .unit-in
                table
                  tr
                    th 事業内容
                    td ドキュメント・ソリューション･サービスの提供
                  tr
                    th 所在地
                    td
                      |本社：〒737-0045
                      br
                      |広島県呉市本通4丁目5-17
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.forvaltel.co.jp/") http://www.forvaltel.co.jp/
                  tr
                    th コンセプト
                    td ブロードバンド回線を活用したオン・デマンド印刷他、印刷業務全般の業務を行っています。必要なときに必要なものだけ、小部数から高品質で、しかも安価に提供しています。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl05.h3ttl
                span
                  <img src="../assets/img/group/h3ttl05.gif" width="475" height="25" alt="株式会社ホワイトビジネスイニシアティブ">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 通信キャリアサービス
                  tr
                    th 所在地
                    td
                      |本社：〒101-0054
                      br
                      |東京都千代田区神田錦町3-5-1 興和一橋ビル別館4F
                  tr
                    th 公式サイト
                    td
                      a(href="http://wbi.co.jp/") http://wbi.co.jp/
                  tr
                    th コンセプト
                    td スマートフォンを利用したFMC（Fixed Mobile Convergence）サービス「ツーウェイスマート」の専用アプリケーションとハードウェアを開発・提供。FMCとモバイルソリューション、リテール型IPセントレックス商品の企画開発を通して、法人向けFMCの普及に貢献いたします。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl06.h3ttl
                span
                  <img src="../assets/img/group/h3ttl06.gif" width="273" height="25" alt="タクトシステム株式会社">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 各種広告宣伝物のプランニング、デザイン、DTP編集・制作、スキャニング、出力、印刷工程管理、各種ソフトウェア開発、データベース構築、Webデザイン、電子書籍、AR
                  tr
                    th 所在地
                    td
                      |本社：〒169-0051
                      br
                      |東京都新宿区西早稲田3-27-1
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.tactsystem.co.jp/") http://www.tactsystem.co.jp/
                  tr
                    th コンセプト
                    td DTP制作・デザインをはじめ、電子書籍やWebデザイン・Webコーディング・印刷・専門スタッフによる校閲まで、幅広いご要望に対応しております。
              <!-- /.unit-in -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../company#section04/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });

html/group/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>グループ会社 | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="グループ会社 - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="グループ会社,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="グループ会社 | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="グループ会社 - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/group">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="group" class="low">
      <section id="section" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/group/h2ttl.gif" width="177" height="85" alt="グループ会社"></span></h2>
        <div class="inner">
          <ul class="accordion">
            <li class="unit">
              <section>
                <h3 id="h3ttl01" class="h3ttl"><span><img src="../assets/img/group/h3ttl01.gif" width="225" height="25" alt="株式会社フォーバル"></span></h3>
                <div class="unit-in">
                  <table>
                    <tr>
                      <th>事業内容</th>
                      <td>情報通信コンサルティング、経営コンサルティング</td>
                    </tr>
                    <tr>
                      <th>所在地</th>
                      <td>本社：〒150-0001<br>東京都渋谷区神宮前5-52-2青山オーバルビル14階</td>
                    </tr>
                    <tr>
                      <th>公式サイト</th>
                      <td> <a href="http://www.forval.co.jp/">http://www.forval.co.jp/</a></td>
                    </tr>
                    <tr>
                      <th>コンセプト</th>
                      <td>フォーバルは「新しいあたりまえ」を創造し、「次世代経営コンサルタント」として企業経営を支援いたします。情報通信を活用した経営の高度化、海外進出支援、企業のＷＥＢ戦略など、経営者の夢や思いをカタチにします。東証一部上場。</td>
                    </tr>
                  </table>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl02" class="h3ttl"><span><img src="../assets/img/group/h3ttl02.gif" width="324" height="25" alt="株式会社フォーバルテレコム"></span></h3>
                <div class="unit-in">
                  <table>
                    <tr>
                      <th>事業内容</th>
                      <td>通信サービスの提供、セキュリティ認証取得コンサルティング業</td>
                    </tr>
                    <tr>
                      <th>所在地</th>
                      <td>本社：〒101-0054<br>東京都千代田区神田錦町三丁目26番地一ツ橋SIビル2F</td>
                    </tr>
                    <tr>
                      <th>公式サイト</th>
                      <td><a href="http://www.forvaltel.co.jp/">http://www.forvaltel.co.jp/</a></td>
                    </tr>
                    <tr>
                      <th>コンセプト</th>
                      <td>「fitコール」「スマートひかり」「iSmart」「ツーウェイスマート」などのオリジナル通信サービスを提供。多岐にわたる通信サービスを一括してご請求する「ワンビリングサービス」を通じて、コスト削減や事業効率向上の面から企業経営を支援いたします。東証二部上場。</td>
                    </tr>
                  </table>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl03" class="h3ttl"><span><img src="../assets/img/group/h3ttl03.gif" width="299" height="25" alt="株式会社保険ステーション"></span></h3>
                <div class="unit-in">
                  <table>
                    <tr>
                      <th>事業内容</th>
                      <td>経営支援／コンサルティング業</td>
                    </tr>
                    <tr>
                      <th>所在地</th>
                      <td>〒101-0054<br>東京都千代田区神田錦町3-26一ツ橋SIビル2F</td>
                    </tr>
                    <tr>
                      <th>公式サイト</th>
                      <td><a href="http://www.hoken-station.co.jp/">http://www.hoken-station.co.jp/</a></td>
                    </tr>
                    <tr>
                      <th>コンセプト</th>
                      <td>生命保険・損害保険の最適化等経営支援コンサルティング・サービスを提供しています。30社を超える保険会社を取り扱う独立系の保険代理店として、どこの保険会社にも偏らずに最適なソリューションを提案しています。（2011年3月1日に「FISソリューションズ」から商号変更いたしました。）</td>
                    </tr>
                  </table>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl04" class="h3ttl"><span><img src="../assets/img/group/h3ttl04.gif" width="299" height="25" alt="株式会社トライ・エックス"></span></h3>
                <div class="unit-in">
                  <table>
                    <tr>
                      <th>事業内容</th>
                      <td>ドキュメント・ソリューション･サービスの提供</td>
                    </tr>
                    <tr>
                      <th>所在地</th>
                      <td>本社：〒737-0045<br>広島県呉市本通4丁目5-17</td>
                    </tr>
                    <tr>
                      <th>公式サイト</th>
                      <td><a href="http://www.forvaltel.co.jp/">http://www.forvaltel.co.jp/</a></td>
                    </tr>
                    <tr>
                      <th>コンセプト</th>
                      <td>ブロードバンド回線を活用したオン・デマンド印刷他、印刷業務全般の業務を行っています。必要なときに必要なものだけ、小部数から高品質で、しかも安価に提供しています。</td>
                    </tr>
                  </table>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl05" class="h3ttl"><span><img src="../assets/img/group/h3ttl05.gif" width="475" height="25" alt="株式会社ホワイトビジネスイニシアティブ"></span></h3>
                <div class="unit-in">
                  <table>
                    <tr>
                      <th>事業内容</th>
                      <td>通信キャリアサービス</td>
                    </tr>
                    <tr>
                      <th>所在地</th>
                      <td>本社：〒101-0054<br>東京都千代田区神田錦町3-5-1 興和一橋ビル別館4F</td>
                    </tr>
                    <tr>
                      <th>公式サイト</th>
                      <td><a href="http://wbi.co.jp/">http://wbi.co.jp/</a></td>
                    </tr>
                    <tr>
                      <th>コンセプト</th>
                      <td>スマートフォンを利用したFMC（Fixed Mobile Convergence）サービス「ツーウェイスマート」の専用アプリケーションとハードウェアを開発・提供。FMCとモバイルソリューション、リテール型IPセントレックス商品の企画開発を通して、法人向けFMCの普及に貢献いたします。</td>
                    </tr>
                  </table>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl06" class="h3ttl"><span><img src="../assets/img/group/h3ttl06.gif" width="273" height="25" alt="タクトシステム株式会社"></span></h3>
                <div class="unit-in">
                  <table>
                    <tr>
                      <th>事業内容</th>
                      <td>各種広告宣伝物のプランニング、デザイン、DTP編集・制作、スキャニング、出力、印刷工程管理、各種ソフトウェア開発、データベース構築、Webデザイン、電子書籍、AR</td>
                    </tr>
                    <tr>
                      <th>所在地</th>
                      <td>本社：〒169-0051<br>東京都新宿区西早稲田3-27-1</td>
                    </tr>
                    <tr>
                      <th>公式サイト</th>
                      <td><a href="http://www.tactsystem.co.jp/">http://www.tactsystem.co.jp/</a></td>
                    </tr>
                    <tr>
                      <th>コンセプト</th>
                      <td>DTP制作・デザインをはじめ、電子書籍やWebデザイン・Webコーディング・印刷・専門スタッフによる校閲まで、幅広いご要望に対応しております。</td>
                    </tr>
                  </table>
                </div><!-- /.unit-in -->
              </section>
            </li>
          </ul>
        </div><!-- /.inner -->
      </section><!-- /#section -->
    </main><!-- /#group -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../company#section04/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

    <!-- アコーディオン -->
    <script>
      $(function(){
        $(".accordion .unit h3").click(function(){
          $(this).next(".unit-in").slideToggle();
          $(this).children("span").toggleClass("open");
        });
      });
    </script>
  </body>
</html>
