src/news/index.jade
extends ../templates/layout.jade
block title
  - var page_title = 'ニュースリリース'
  - var page_dirname = 'news'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#news.low
    section#section01.section
      h2.h2ttl
        span
          <img src="../assets/img/news/h2ttl.gif" width="236" height="83" alt="#{page_title}">
      .inner
        #article02.article
          p.date 2016/9/14
          .article-in
            p ホームページをリニューアルしました。
          <!-- /.article-in -->
        <!-- /.article -->
        #article01.article
          p.date 2016/9/1
          .article-in
            p あなたも”2時間”で英語が話せるようになる
            p 「世界一聞きたい英会話の授業」を開催いたします。
            p FISアイコンサービスご契約企業様に限り、無料ご招待！奮ってご参加ください！
            p 0120-955-211 担当：大野 講師：西澤ロイ
            p 日時：2016年11月15日　14:30開場 15:30開始　17:30終了
            p 場所：神田神保町(ご参加人数によって変更になりますので、後日 お知らせいたします
          <!-- /.article-in -->
        <!-- /.article -->

        //ul.pager
          li
            a.prev.ophv(href="")
              <img src="../assets/img/news/prev_btn.gif" width="128" height="44" alt="prev">
          li
            a.next.ophv(href="")
              <img src="../assets/img/news/next_btn.gif" width="128" height="44" alt="next">
      <!-- /.inner -->
    <!-- /#section01 -->
  <!-- /#!{page_title} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });

html/news/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ニュースリリース | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="ニュースリリース - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="ニュースリリース,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="ニュースリリース | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="ニュースリリース - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/news">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="news" class="low">
      <section id="section01" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/news/h2ttl.gif" width="236" height="83" alt="ニュースリリース"></span></h2>
        <div class="inner">
          <div id="article02" class="article">
            <p class="date">2016/9/14</p>
            <div class="article-in">
              <p>ホームページをリニューアルしました。</p>
            </div><!-- /.article-in -->
          </div><!-- /.article -->
          <div id="article01" class="article">
            <p class="date">2016/9/1</p>
            <div class="article-in">
              <p>あなたも”2時間”で英語が話せるようになる</p>
              <p>「世界一聞きたい英会話の授業」を開催いたします。</p>
              <p>FISアイコンサービスご契約企業様に限り、無料ご招待！奮ってご参加ください！</p>
              <p>0120-955-211 担当：大野 講師：西澤ロイ</p>
              <p>日時：2016年11月15日　14:30開場 15:30開始　17:30終了</p>
              <p>場所：神田神保町(ご参加人数によって変更になりますので、後日 お知らせいたします</p>
            </div><!-- /.article-in -->
          </div><!-- /.article -->
          <!--ul.pager
          li
            a.prev.ophv(href="")
              <img src="../assets/img/news/prev_btn.gif" width="128" height="44" alt="prev">
          li
            a.next.ophv(href="")
              <img src="../assets/img/news/next_btn.gif" width="128" height="44" alt="next">
          -->
        </div><!-- /.inner -->
      </section><!-- /#section01 -->
    </main><!-- /#ニュースリリース -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../news/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

    <!-- アコーディオン -->
    <script>
      $(function(){
        $(".accordion .unit h3").click(function(){
          $(this).next(".unit-in").slideToggle();
          $(this).children("span").toggleClass("open");
        });
      });
    </script>
  </body>
</html>
