html/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <div id="tmimg">
      <ul class="slider">
        <li><img src="http://www.fis-s.co.jp/sp/assets/img/top/mimg01.jpg" width="721" height="346" alt="オフィスのことならFISソリューションズにお任せ"></li>
        <li><img src="http://www.fis-s.co.jp/sp/assets/img/top/mimg02.jpg" width="720" height="346" alt="「新しいあたりまえ」を創造し続けるFISソリューションズ"></li>
        <li><img src="http://www.fis-s.co.jp/sp/assets/img/top/mimg03.jpg" width="720" height="346" alt="icon"></li>
      </ul>
    </div><!-- /#tmimg -->

    <main id="top">
      <div class="inner">
        <ul class="tbnr">
          <li>
            <p class="detail_btn"><a href="" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/top/icon_detail_btn.gif" width="429" height="54" alt="詳細はこちら"></a></p>
          </li>
          <li><a href="" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/top/bnr01.jpg" width="680" height="144" alt="e-bill eco 請求情報閲覧サービス"></a></li>
          <li><a href="" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/top/bnr02.jpg" width="680" height="143" alt="オフィス電話本舗"></a></li>
          <li><a href="" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/top/bnr03.jpg" width="680" height="143" alt="起業相談ドットコム"></a></li>
          <li><a href="" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/top/bnr04.jpg" width="680" height="143" alt="OFFITY/オフィティ"></a></li>
        </ul>
        <section id="tnews">
          <h2><img src="http://www.fis-s.co.jp/sp/assets/img/top/h2ttl01.gif" width="90" height="51" alt="NEWS"></h2>
          <article class="article">
            <p class="date">2016/9/14</p>
            <h3><a href="http://www.fis-s.co.jp/sp/news/#article02">FISソリューション公式ホームページリニューアルのお知らせ。</a></h3>
          </article><!-- /.article -->
          <article class="article">
            <p class="date">2016/9/1</p>
            <h3><a href="http://www.fis-s.co.jp/sp/news/#article01">「世界一聞きたい英会話の授業」開催のお知らせ。</a></h3>
          </article><!-- /.article -->
        </section><!-- /#tnews -->
      </div><!-- /.inner -->
    </main><!-- /#top -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/jquery.bxslider.min.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

    <!-- スライダー -->
    <script>
      $(document).ready(function(){
        $('.slider').bxSlider({
          mode: 'fade',
          auto: true,
          controls: false,
          pager: false,
          speed: 4000,
          pause: 4000,
        });
      });
    </script>
  </body>
</html>

src/index.jade
extends ./templates/layout.jade
block title
  title #{meta.info.title}
block meta01
  meta(name="description", content=meta.info.description)
  meta(name="keywords", content=meta.info.keywords)
block meta02
  meta(property="og:title", content=meta.info.title)
  meta(property="og:description", content=meta.info.description)
  meta(property="og:type", content="website")
  meta(property="og:url", content=meta.info.url)
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)
block css
block body
  #tmimg
    ul.slider
      li
        <img src="#{meta.info.url}assets/img/top/mimg01.jpg" width="721" height="346" alt="オフィスのことならFISソリューションズにお任せ">
      li
        <img src="#{meta.info.url}assets/img/top/mimg02.jpg" width="720" height="346" alt="「新しいあたりまえ」を創造し続けるFISソリューションズ">
      li
        <img src="#{meta.info.url}assets/img/top/mimg03.jpg" width="720" height="346" alt="icon">
  <!-- /#tmimg -->
  !='\n'

  main#top
    .inner
      ul.tbnr
        li
          p.detail_btn
            a.ophv(href="")
              <img src="#{meta.info.url}assets/img/top/icon_detail_btn.gif" width="429" height="54" alt="詳細はこちら">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr01.jpg" width="680" height="144" alt="e-bill eco 請求情報閲覧サービス">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr02.jpg" width="680" height="143" alt="オフィス電話本舗">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr03.jpg" width="680" height="143" alt="起業相談ドットコム">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr04.jpg" width="680" height="143" alt="OFFITY/オフィティ">

      section#tnews
        h2
          <img src="#{meta.info.url}assets/img/top/h2ttl01.gif" width="90" height="51" alt="NEWS">
        article.article
          p.date 2016/9/14
          h3
            a(href="#{meta.info.url}news/#article02") FISソリューション公式ホームページリニューアルのお知らせ。
        <!-- /.article -->
        article.article
          p.date 2016/9/1
          h3
            a(href="#{meta.info.url}news/#article01") 「世界一聞きたい英会話の授業」開催のお知らせ。
        <!-- /.article -->
      <!-- /#tnews -->
    <!-- /.inner -->
  <!-- /#top -->
  !='\n'

  include ./templates/aside.jade

block mode_pc_link
  a(href="../../?mode=pc") PC

block script_src
  script(src="#{meta.info.url}assets/js/jquery.bxslider.min.js")

block script
  // スライダー 
  script.
    $(document).ready(function(){
      $('.slider').bxSlider({
        mode: 'fade',
        auto: true,
        controls: false,
        pager: false,
        speed: 4000,
        pause: 4000,
      });
    });
