html/product/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>商品・サービス一覧 | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="商品・サービス一覧 - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="商品・サービス一覧,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="商品・サービス一覧 | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="商品・サービス一覧 - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/product">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="product" class="low">
      <section id="section" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/product/h2ttl.gif" width="269" height="85" alt="商品・サービス一覧"></span></h2>
        <div class="inner">
          <ul class="accordion">
            <li class="unit">
              <section>
                <h3 id="h3ttl01" class="h3ttl"><span><img src="../assets/img/product/h3ttl01.gif" width="168" height="27" alt="情報通信分野"></span></h3>
                <div class="unit-in">
                  <div class="box">
                    <figure class="img01"><img src="../assets/img/product/img01.jpg" width="411" height="287" alt="「情報通信コンサルタント」アイコンのFISソリューションズ"></figure>
                    <div class="txt-area">
                      <p>ＦＩＳソリューションズでは、特定のメーカーに縛られず、お客様に一番フィットする商品を提供しています。電話機、複合機、パソコン、サーバーなどＯＡ機器をはじめとして、携帯電話など各種通信サービス、企業の顔であるＷＥＢサイトなど、企業が必要とするIT環境はすべてお任せください。</p>
                      <p>ただし、どんな機械も退治なのは導入した後の利活用です。ＦＩＳソリューションズではアイコンサービスを核として、導入後の利活用に重点を置いた活動をさせていただいております。お客様の抱える様々な問題に対して、的確なサービスをご提供いたします。</p>
                    </div><!-- /.txt-area -->
                  </div><!-- /.box -->
                  <ul>
                    <li>●ビジネスフォン</li>
                    <li>●複合機</li>
                    <li>●サーバー</li>
                    <li>●UTM</li>
                    <li>●防犯機器</li>
                    <li>●WEBページ</li>
                    <li>●ネットワーク機器</li>
                    <li>●オフィス設備</li>
                  </ul>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl02" class="h3ttl"><span><img src="../assets/img/product/h3ttl02.gif" width="251" height="27" alt="起業相談ドットコム"></span></h3>
                <div class="unit-in">
                  <div class="box">
                    <figure class="img02"><img src="../assets/img/product/img02.jpg" width="400" height="280" alt="起業相談ドットコムホームページ画像"></figure>
                    <div class="txt-area">
                      <p>会社を経営していく上で起こる、多様な問題に対して経営者の方々の視点に立ち、法務・財務・労務・公的機関の活用方法など様々な分野の専門家と共に解決しサポートしていくサービスを行っています。</p>
                    </div><!-- /.txt-area -->
                  </div><!-- /.box -->
                  <ul class="list">
                    <li>●オフィス物件紹介</li>
                    <li>●ホスティング</li>
                    <li>●名刺・パンフレト</li>
                    <li>●電話回線</li>
                    <li>●モバイル</li>
                    <li>●インターネット回線</li>
                  </ul>
                  <p class="url">公式サイト：<a href="http://www.kigyosodan.com/" target="_blank">http://www.kigyosodan.com/</a></p>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl03" class="h3ttl"><span><img src="../assets/img/product/h3ttl03.gif" width="247" height="26" alt="OFFITY　オフティ"></span></h3>
                <div class="unit-in">
                  <div class="box">
                    <figure class="img02"><img src="../assets/img/product/img03.jpg" width="400" height="280" alt="OFFITYホームページ画像"></figure>
                    <div class="txt-area">
                      <p>法人向けＩＰ電話サービス。電話代・電話料金・コスト削減・経費削減の切り札として、電話番号はそのままで、会社の経費を削減します。電話代、通信コストの経費削減をしたい方、起業、事務所移転をお考えの方をサポートいたします。</p>
                    </div><!-- /.txt-area -->
                  </div><!-- /.box -->
                  <ul class="list">
                    <li>●スマートひかり</li>
                    <li>●2waySmart</li>
                    <li>●イーモバイル</li>
                    <li>●ソフトバンクモバイル</li>
                    <li>●おとくライン</li>
                  </ul>
                  <p class="url">公式サイト：<a href="http://www.offity.jp/" target="_blank">http://www.offity.jp/</a></p>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl04" class="h3ttl"><span><img src="../assets/img/product/h3ttl04.gif" width="458" height="28" alt="e-bill eco（請求情報閲覧サービス）"></span></h3>
                <div class="unit-in">
                  <div class="box">
                    <figure class="img02"><img src="../assets/img/product/img04.jpg" width="400" height="280" alt="e-bill eco（請求情報閲覧サービス） ホームページ画像"></figure>
                    <div class="txt-area">
                      <p>e-billは、お客様への請求情報をインターネット上でご確認いただけるサービスです。登録すると、いつでもどこでもインターネット上で請求情報（サービス利用状況）を確認可能。本サービスは、当社サービスをご利用のお客様を対象に提供しています。</p>
                    </div><!-- /.txt-area -->
                  </div><!-- /.box -->
                  <p class="url">公式サイト：<a href="https://www.ebill.jp/" target="_blank">https://www.ebill.jp/</a></p>
                </div><!-- /.unit-in -->
              </section>
            </li>
            <li class="unit">
              <section>
                <h3 id="h3ttl05" class="h3ttl"><span><img src="../assets/img/product/h3ttl05.gif" width="437" height="28" alt="fitコール（ワンビリングサービス）"></span></h3>
                <div class="unit-in">
                  <div class="box">
                    <figure class="img02"><img src="../assets/img/product/img05.jpg" width="400" height="280" alt="fitコール（ワンビリングサービス） ホームページ画像"></figure>
                    <div class="txt-area">
                      <p>fitコールワンビリングとは、複数サービス（電話回線やインターネット、保守サービスなど）の請求書をひとつにまとめてご請求するサービスです。</p>
                      <p>国内電話、国際電話、携帯電話、インターネットを問わず、「fitコール」は自動的に安いサービスを統合して利用が可能です。</p>
                      <p>複数のサービスでも一括でご請求。「fitコール」は、情報通信のワンビリングサービス・ワンストップショッピングを実現しました。</p>
                    </div><!-- /.txt-area -->
                  </div><!-- /.box -->
                  <p class="url">公式サイト：<a href="https://www.ebill.jp/" target="_blank">https://www.ebill.jp/</a></p>
                </div><!-- /.unit-in -->
              </section>
            </li>
          </ul>
        </div><!-- /.inner -->
      </section><!-- /#section -->
    </main><!-- /#product -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../product/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

    <!-- アコーディオン -->
    <script>
      $(function(){
        $(".accordion .unit h3").click(function(){
          $(this).next(".unit-in").slideToggle();
          $(this).children("span").toggleClass("open");
        });
      });
    </script>
  </body>
</html>

src/product/index.jade
extends ../templates/layout.jade
block title
  - var page_title = '商品・サービス一覧'
  - var page_dirname = 'product'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#product.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/product/h2ttl.gif" width="269" height="85" alt="#{page_title}">
      .inner
        ul.accordion
          li.unit
            section
              h3#h3ttl01.h3ttl
                span
                  <img src="../assets/img/product/h3ttl01.gif" width="168" height="27" alt="情報通信分野">
              .unit-in
                .box
                  figure.img01
                    <img src="../assets/img/product/img01.jpg" width="411" height="287" alt="「情報通信コンサルタント」アイコンのFISソリューションズ">
                  .txt-area
                    p ＦＩＳソリューションズでは、特定のメーカーに縛られず、お客様に一番フィットする商品を提供しています。電話機、複合機、パソコン、サーバーなどＯＡ機器をはじめとして、携帯電話など各種通信サービス、企業の顔であるＷＥＢサイトなど、企業が必要とするIT環境はすべてお任せください。
                    p ただし、どんな機械も退治なのは導入した後の利活用です。ＦＩＳソリューションズではアイコンサービスを核として、導入後の利活用に重点を置いた活動をさせていただいております。お客様の抱える様々な問題に対して、的確なサービスをご提供いたします。
                  <!-- /.txt-area -->
                <!-- /.box -->
                ul
                  li ●ビジネスフォン
                  li ●複合機
                  li ●サーバー
                  li ●UTM
                  li ●防犯機器
                  li ●WEBページ
                  li ●ネットワーク機器
                  li ●オフィス設備
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl02.h3ttl
                span
                  <img src="../assets/img/product/h3ttl02.gif" width="251" height="27" alt="起業相談ドットコム">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img02.jpg" width="400" height="280" alt="起業相談ドットコムホームページ画像">
                  .txt-area
                    p 会社を経営していく上で起こる、多様な問題に対して経営者の方々の視点に立ち、法務・財務・労務・公的機関の活用方法など様々な分野の専門家と共に解決しサポートしていくサービスを行っています。
                  <!-- /.txt-area -->
                <!-- /.box -->
                ul.list
                  li ●オフィス物件紹介
                  li ●ホスティング
                  li ●名刺・パンフレト
                  li ●電話回線
                  li ●モバイル
                  li ●インターネット回線
                p.url 公式サイト：
                  a(href="http://www.kigyosodan.com/", target="_blank") http://www.kigyosodan.com/
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl03.h3ttl
                span
                  <img src="../assets/img/product/h3ttl03.gif" width="247" height="26" alt="OFFITY　オフティ">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img03.jpg" width="400" height="280" alt="OFFITYホームページ画像">
                  .txt-area
                    p 法人向けＩＰ電話サービス。電話代・電話料金・コスト削減・経費削減の切り札として、電話番号はそのままで、会社の経費を削減します。電話代、通信コストの経費削減をしたい方、起業、事務所移転をお考えの方をサポートいたします。
                  <!-- /.txt-area -->
                <!-- /.box -->
                ul.list
                  li ●スマートひかり
                  li ●2waySmart
                  li ●イーモバイル
                  li ●ソフトバンクモバイル
                  li ●おとくライン
                p.url 公式サイト：
                  a(href="http://www.offity.jp/", target="_blank") http://www.offity.jp/
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl04.h3ttl
                span
                  <img src="../assets/img/product/h3ttl04.gif" width="458" height="28" alt="e-bill eco（請求情報閲覧サービス）">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img04.jpg" width="400" height="280" alt="e-bill eco（請求情報閲覧サービス） ホームページ画像">
                  .txt-area
                    p e-billは、お客様への請求情報をインターネット上でご確認いただけるサービスです。登録すると、いつでもどこでもインターネット上で請求情報（サービス利用状況）を確認可能。本サービスは、当社サービスをご利用のお客様を対象に提供しています。
                  <!-- /.txt-area -->
                <!-- /.box -->
                p.url 公式サイト：
                  a(href="https://www.ebill.jp/", target="_blank") https://www.ebill.jp/
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl05.h3ttl
                span
                  <img src="../assets/img/product/h3ttl05.gif" width="437" height="28" alt="fitコール（ワンビリングサービス）">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img05.jpg" width="400" height="280" alt="fitコール（ワンビリングサービス） ホームページ画像">
                  .txt-area
                    p fitコールワンビリングとは、複数サービス（電話回線やインターネット、保守サービスなど）の請求書をひとつにまとめてご請求するサービスです。
                    p 国内電話、国際電話、携帯電話、インターネットを問わず、「fitコール」は自動的に安いサービスを統合して利用が可能です。
                    p 複数のサービスでも一括でご請求。「fitコール」は、情報通信のワンビリングサービス・ワンストップショッピングを実現しました。
                  <!-- /.txt-area -->
                <!-- /.box -->
                p.url 公式サイト：
                  a(href="https://www.ebill.jp/", target="_blank") https://www.ebill.jp/
              <!-- /.unit-in -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });
