html/recruit/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>リクルート | 次世代経営コンサルティングの株式会社FISソリューションズ</title>
    <meta name="description" content="リクルート - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta name="keywords" content="リクルート,次世代経営コンサルティング,経営相談,ビジネスフォン,通信費削減,株式会社FISソリューションズ">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:title" content="リクルート | 次世代経営コンサルティングの株式会社FISソリューションズ">
    <meta property="og:description" content="リクルート - FISソリューションズは、電話工事、LAN工事からビジネスフォン、コピー機の導入など。 情報通信コンサルタントのプロがお客様のオフィス環境について幅広くサポートいたします。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fis-s.co.jp/sp/recruit">
    <meta property="og:image" content="http://www.fis-s.co.jp/sp/assets/img/ogp_img.png">
    <meta property="og:site_name" content="FISソリューションズ">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/reset.css">
    <link rel="stylesheet" href="http://www.fis-s.co.jp/sp/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]-->
  </head>

  <body>
    <header id="header">
      <h1 id="hlogo"><a href="http://www.fis-s.co.jp/sp/"><img src="http://www.fis-s.co.jp/sp/assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ"></a></h1>
      <p id="menu_btn"><img src="http://www.fis-s.co.jp/sp/assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン"></p>
      <nav>
        <ul id="menu">
          <li><a href="http://www.fis-s.co.jp/sp/">ホーム</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/icon">アイコンサービス</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/news">お知らせ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/concept">企業コンセプト</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/product">商品・サービス一覧</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/recruit">採用情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/company">企業情報</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/message">メッセージ</a></li>
          <li><a href="http://www.fis-s.co.jp/sp/group">グループ会社</a></li>
        </ul>
      </nav>
    </header><!-- /#header -->

    <main id="recruit" class="low">
      <section id="section" class="section">
        <h2 class="h2ttl"><span><img src="../assets/img/recruit/h2ttl.gif" width="140" height="84" alt="リクルート"></span></h2>
        <div class="inner">
          <section id="section-in01" class="section-in">
            <h3 class="h3ttl"><img src="../assets/img/recruit/h3ttl01.gif" width="156" height="28" alt="求める人材"></h3>
            <div class="txt-area">
              <p>新しいあたりまえを創出し続ける社会価値創出企業。</p>
              <p>私たち、ＦＩＳソリューションズは「次世代経営コンサルタント」としてお客様と共に未来を切り開くエンジンとなり、成長を加速させます。</p>
              <p>人の話を聞き、人から学び、人に対して責任と情熱をもって仕事をするプロフェッショナルです。</p>
              <p>限りない未来へ向けて、さらなる成長が期待される会社でキャリアをスタートしてみませんか。</p>
            </div><!-- /.txt-area -->
            <figure class="img"><img src="../assets/img/recruit/img01.jpg" width="680" height="514" alt="求める人材"></figure>
          </section><!-- /#section-in01 -->

          <section id="section-in02" class="section-in">
            <h3 id="h3ttl02" class="h3ttl"><img src="../assets/img/recruit/h3ttl02.gif" width="134" height="28" alt="採用情報"></h3>
            <table>
              <tr>
                <th>募集職務</th>
                <td>通信コンサルティング営業</td>
              </tr>
              <tr>
                <th>職務内容</th>
                <td>オフィスの通信回線・機器の導入や、企業サイトの構築など、お客様の経営効率化の提案</td>
              </tr>
              <tr>
                <th>採用形態</th>
                <td>正社員（研修１ヶ月）</td>
              </tr>
              <tr>
                <th>給与</th>
                <td>月給22万円以上（一律営業手当含む＋インセンティブ）</td>
              </tr>
              <tr>
                <th>手当</th>
                <td>交通費全額支給、賞与年2回、昇給年4回、決算賞与（個人の業績により支給）</td>
              </tr>
              <tr>
                <th>社会保険</th>
                <td>社会保険完備</td>
              </tr>
              <tr>
                <th>休日休暇</th>
                <td>完全週休2日制（土・日）、祝祭日、年末年始、育児休暇、慶弔、有給（年間休日120日）</td>
              </tr>
              <tr>
                <th>応募書類</th>
                <td>通信コンサルティング事業部（TEL：03-5283-0080）に電話後、履歴書（写真付）と職務経歴書を持参</td>
              </tr>
            </table>
          </section><!-- /#section-in02 -->

          <div class="bnr-area">
            <p><a href="http://www.saiyo.fis-s.co.jp/" target="_blank" class="ophv"><img src="../assets/img/recruit/bnr01.jpg" width="680" height="98" alt="キャリア採用・新卒採用"></a></p>
            <p><a href="https://job.mynavi.jp/17/pc/search/corp112442/outline.html" target="_blank" class="ophv"><img src="../assets/img/recruit/bnr02.jpg" width="680" height="98" alt="マイナビ2017"></a></p>
          </div><!-- /.bnr-area -->
        </div><!-- /.inner -->
      </section><!-- /#section -->
    </main><!-- /#recruit -->

    <aside id="sns-icon">
      <ul class="inner">
        <li><a href="http://ameblo.jp/fissambl/" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ"></a></li>
        <li><a href="https://twitter.com/FISSOLUTIONS" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/twi_icon.png" width="42" height="42" alt="twitter"></a></li>
        <li><a href="https://www.facebook.com/fisstokyo" target="_blank" class="ophv"><img src="http://www.fis-s.co.jp/sp/assets/img/fb_icon.png" width="42" height="43" alt="facebook"></a></li>
      </ul>
    </aside>

    <footer id="footer">
      <p class="to_top"><a href="#header"><img src="http://www.fis-s.co.jp/sp/assets/img/to_top.png" width="145" height="18" alt="page top"></a></p>
      <ul class="switch">
        <li><a href="../../recruit/?mode=pc">PC</a></li>
        <li><a href="./">モバイル</a></li>
      </ul>
      <p class="copyright">Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.</p>
    </footer><!-- /#footer -->

    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/rollover.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/rollover/opacity-rollover2.1.js"></script>
    <script src="http://www.fis-s.co.jp/sp/assets/js/smoothScrollEx.js"></script>

    <!-- ロールオーバー-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    </script>

    <!-- メニューボタン-->
    <script>
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    </script>

    <!-- ヘッダー-->
    <script>
      $(document).ready(function(){
        $(window).on('load resize', function(){
      
          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);
      
          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    </script>

  </body>
</html>

src/recruit/index.jade
extends ../templates/layout.jade
block title
  - var page_title = 'リクルート'
  - var page_dirname = 'recruit'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#recruit.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/recruit/h2ttl.gif" width="140" height="84" alt="#{page_title}">
      .inner
        section#section-in01.section-in
          h3.h3ttl
            <img src="../assets/img/recruit/h3ttl01.gif" width="156" height="28" alt="求める人材">
          .txt-area
            p 新しいあたりまえを創出し続ける社会価値創出企業。
            p 私たち、ＦＩＳソリューションズは「次世代経営コンサルタント」としてお客様と共に未来を切り開くエンジンとなり、成長を加速させます。
            p 人の話を聞き、人から学び、人に対して責任と情熱をもって仕事をするプロフェッショナルです。
            p 限りない未来へ向けて、さらなる成長が期待される会社でキャリアをスタートしてみませんか。
          <!-- /.txt-area -->
          figure.img
            <img src="../assets/img/recruit/img01.jpg" width="680" height="514" alt="求める人材">
        <!-- /#section-in01 -->
        !='\n'

        section#section-in02.section-in
          h3#h3ttl02.h3ttl
            <img src="../assets/img/recruit/h3ttl02.gif" width="134" height="28" alt="採用情報">
          table
            tr
              th 募集職務
              td 通信コンサルティング営業
            tr
              th 職務内容
              td オフィスの通信回線・機器の導入や、企業サイトの構築など、お客様の経営効率化の提案
            tr
              th 採用形態
              td 正社員（研修１ヶ月）
            tr
              th 給与
              td 月給22万円以上（一律営業手当含む＋インセンティブ）
            tr
              th 手当
              td 交通費全額支給、賞与年2回、昇給年4回、決算賞与（個人の業績により支給）
            tr
              th 社会保険
              td 社会保険完備
            tr
              th 休日休暇
              td 完全週休2日制（土・日）、祝祭日、年末年始、育児休暇、慶弔、有給（年間休日120日）
            tr
              th 応募書類
              td 通信コンサルティング事業部（TEL：03-5283-0080）に電話後、履歴書（写真付）と職務経歴書を持参
        <!-- /#section-in02 -->
        !='\n'

        .bnr-area
          p
            a.ophv(href="http://www.saiyo.fis-s.co.jp/", target="_blank")
              <img src="../assets/img/recruit/bnr01.jpg" width="680" height="98" alt="キャリア採用・新卒採用">
          p
            a.ophv(href="https://job.mynavi.jp/17/pc/search/corp112442/outline.html", target="_blank")
              <img src="../assets/img/recruit/bnr02.jpg" width="680" height="98" alt="マイナビ2017">
        <!-- /.bnr-area -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
